In [1]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame(np.random.randn(10,5))
data1

          0         1         2         3         4
0  1.111412  0.357065 -0.044902 -0.834509 -0.823660
1  0.319187  1.197773  0.210379 -0.224390 -1.477604
2  0.322191 -0.719325 -1.415981  2.037356 -1.283240
3  0.292861  0.938560  0.331160 -0.523654  1.093852
4  2.144983  1.052249 -0.168923 -0.494548 -0.459033
5 -1.723961  1.337538 -0.601130  1.282766  0.704870
6  0.556384  0.606779 -0.526389  0.141305 -0.359456
7 -0.348689 -0.977048 -1.416780  1.230535 -2.004743
8 -1.743970  2.035653  0.314035  0.517874  1.302891
9 -0.214022 -0.086108  0.392064  0.553952 -0.073054

In [4]:
data1[[0]]

          0
0  1.111412
1  0.319187
2  0.322191
3  0.292861
4  2.144983
5 -1.723961
6  0.556384
7 -0.348689
8 -1.743970
9 -0.214022